<!-- Timeline -->
<section id='timeline' class='container-fluid'>
    <h1 class='text-center text-bold'>Judging</h1>
    <br>
    <div class='row'>
        <div class='col-md-6'>
	    <h3> Teams </h3>
            <img class='img-responsive center-block' src='img/teams.jpeg'
            style="max-height: 800px;" />
        </div>
        <div class='col-md-6'>
            <h3> Layout </h3>
            <img class='img-responsive center-block' src='img/layout.jpeg'
            style='max-height: 800px' />
        </div>
    </div>
</section><!-- Timeline -->
